<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

        <li class="active">
            <a href="/employee/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-dashboard fa-stack-1x "></i></span> View Leaves</a>
        </li>
        <li>
            <a href="/employee/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
        </li>
        <li data-toggle="modal" data-target="#myModal">
            <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>View
                Attendance</a>
        </li>
        <li>
            <a href="/employee/clocking"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-user fa-stack-1x "></i></span>Clocking</a>
        </li>
        <li>
            <a href="/employee/view-profile"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
        </li>
    </ul>
</div><!-- /#sidebar-wrapper -->